
<div class="row">
<div class="col-sm-3">
    <div class="left-sidebar">

        <li><a href=""><span class="icon-chevron-right"></span>Bilgilerim</a></li>
        <li><a href=""><span class="icon-chevron-right"></span>Düzenle</a></li>
        <li><a href=""><span class="icon-chevron-right"></span>Siparişlerim</a></li>
        <li><a href=""><span class="icon-chevron-right"></span>Sepetim</a></li>
        <li><a href=""><span class="icon-chevron-right"></span>Favori Ürünlerim</a></li>
        <li><a href=""><span class="icon-chevron-right"></span>Sipariş Geçmişi</a></li>
        <li><a href=""><span class="icon-chevron-right"></span>Yorumlarım</a></li>
        <li><a href="{{ path('app_logout') }}"><span class="icon-chevron-right"></span>Exit</a></li>

    </div>
        </div>
</div>