{% extends 'adminbase.html.twig' %}
{% block title %} Kategori Ekleme {% endblock %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <b>Kategori Ekleme</b>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">

    {{ include('admin/category/_form.html.twig') }}

    <a href="{{ path('admin_category_index') }}">back to list</a>

            </table>
{% endblock %}