{% extends 'adminbase.html.twig' %}
{% block title %} Üye Listesi {% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Üye Listesi</b>
            <small><a href="{{ path('admin_product_new') }}" class="btn btn-warning" >Yeni Product Ekle</a></small>

             {{ include('admin/messages.html.twig') }}

            <div class="panel-body">


                <div class="table-responsive">

                    {{ include('admin/product/_form.html.twig') }}


                    <script>
                        ClassicEditor
                            .create( document.querySelector( '#detail' ) )
                            .catch( error => {
                                console.error( error );
                            } );
                    </script>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
