{% extends 'adminbase.html.twig' %}
{% block title %} Ürün Ekleme {% endblock %}
{% block content %}
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
<div class="panel panel-default">
    <div class="panel-heading">
        <b>Product İnsert</b>
        <small><a href="{{ path('admin_product_new') }}" class="btn btn-warning" >Yeni Product Ekle</a></small>

        <div class="panel-body">
            <div class="table-responsive">

    {{ include('admin/product/_form.html.twig') }}

    <a href="{{ path('admin_product_index') }}">back to list</a>

            </div></div></div></div></div></div></div>{% endblock %}
